.el-main {
  box-sizing: border-box;
  padding: 24px;
  overflow-x: hidden;
  background-color: #EEEFF4;
  border-radius: 20px 0 0;

  // background-color: var(--el-bg-color-page);
}
.el-footer {
  height: auto;
  padding: 0;
}
