.my_goods_list {
  .name {
    max-width: 140px;
    white-space: normal;
  }
  :deep(.header-button-lf) {
    width: 100%;
  }
  :deep(thead .cell) {
    // font-size: 12px;
    font-weight: normal;
    color: #999999;
  }
  .negative,
  .forward {
    @apply flex-col gap10 o-hidden;

    padding: 0 10px;
    .proportion {
      padding: 0 10px;
      font-size: 12px;
      color: #ffffff;
      background-color: #FF6E00;
      border-radius: 16px;
    }
  }
  .negative .proportion {
    background-color: #358270;
  }
  .goods-info{
    @apply  fcc gap10;
    .image{
      @apply relative o-hidden rounded-4 size-72;
      .mask {
        @apply absolute bottom-10 w-full fcc;
        >span {
          @apply fcc gap3 w-90% rounded-4 bg-#D40000 text-(12 #fff);
        }
      }
    }
  }
}
